---
# Front matter to tell Jekyll to process this file
---

// Variables
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: 0.875rem;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae4;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;

// Mixins
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials
@import
  "base",
  "layout",
  "syntax-highlighting"
;